target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log
*.tmp

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/src/main/resources/secret/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Mac OS ###
.DS_Store
